@model IEnumerable<WebHometask4.Models.Company>
@{
    ViewData["Title"] = "Kомпании";
}

@*<form onclick="'@Url.Action("CompanyNames", "Company")';" method="get">*@
@using (Html.BeginForm("CompanyNames", "Company", FormMethod.Get))
{
    <div class="form-group">
        <label for="Pattern" class="col-md-2 control-label">Pattern:</label>
        <div class="col-md-4">
            @*<input type="text" name="Pattern" class="form-control" />*@
            @Html.TextBox("Pattern", "", new { type = "text"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-light" value="Получить список" />
        </div>
    </div>
}
@*</form>*@
<h2> Краткий список компаний</h2>
<table class="table-condensed">
    <tr>
        <td> Название </td>
    </tr>
    @foreach (var company in Model)
    {
        <tr>
            <td> @company.Name </td>
            <td>
                <a class="btn btn-primary" asp-controller="Company" asp-action="Details" asp-route-id="@company.Id" > Details </a>
            </td>
            <td>
                <a class="btn btn-secondary" asp-controller="Company" asp-action="Edit" asp-route-id="@company.Id" > Edit </a>
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Company" asp-action="Delete" asp-route-id="@company.Id" > Delete </a>
            </td>
        </tr>
    }
</table>
<a class="btn btn-success" asp-controller="Company" asp-action="Make" > Создать новую компанию </a>
