@model IEnumerable<WebHometask4.Models.Genre>
@{
    ViewData["Title"] = "Жанры";
}

<form onclick="'@Url.Action("GenreNames", "Genre")';" method="get">
    <div class="form-group">
        <label for="Pattern" class="col-md-2 control-label">Pattern:</label>
        <div class="col-md-4">
            <input type="text" name="Pattern" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-light" value="Получить список" />
        </div>
    </div>
</form>
<h2> Краткий список жанров</h2>
<table class="table-condensed">
    <tr>
        <td> Название </td>
    </tr>
    @foreach (var genre in Model){ 
        <tr>
            <td> @genre.Name</td>
            <td>
                <button class="btn btn-primary" onclick="location.href = '/Genre/Details/@genre.Id';"> Details </button>
            </td>
            <td>
                <button class="btn btn-secondary" onclick="location.href = '/Genre/Edit/@genre.Id';"> Edit </button>
            </td>
            <td>
                <button class="btn btn-danger" value="@genre.Id" onclick="location.href = '@Url.Action("Delete", "Genre", new { id = @genre.Id} )';"> Delete </button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-success" onclick="location.href = '@Url.Action("Make", "Genre")';"> Создать новый жанр </button>
